/*SECTION 07 XS*/
.section-xs-07{
  padding: 0px 0px 90px 0px;
}

.tx-section-xs-07_01{
  text-align: center;
  margin:0px 0px 40px 0px;
  font-family: $Lato-Regular;
  // color: $color03;
  color: #2B307C;
  font-size: $tx-size-05;
  span{
    font-family: $Lato-Bold;
  }
}