/* SECTION 04*/
.section-home-psa-04{
  padding: 6rem 0rem 0rem 0rem;
  @media screen and (max-width: $window-size-03) {
    padding: 3rem 0rem 0rem 0rem;
  }
}

.section-home-psa-04__content{
  h2:nth-of-type(1){
    font-size: $tx-size-01;
    font-family: $Lato-Black;
    margin: 0rem 0rem 4rem 0rem;
    color: $color01;
    text-align: center;
    @media screen and (max-width: $window-size-03) {
      font-size: $tx-size-05;
      margin: 0rem 0rem 2.5rem 0rem;
      text-align: center;
    }
  }
  p:nth-of-type(1){
    font-size: $tx-size-05;
    font-family: $Lato-Regular;
    margin: 0rem 0rem 5rem 0rem;
    color: $negro;
    text-align: center;
    @media screen and (max-width: $window-size-03) {
      font-size: $tx-size-06;
      margin: 0rem 0rem 2.5rem 0rem;
      line-height: 1;
    }
    @media screen and (max-width: $window-size-05) {
      text-align: left;
    }
  }
}