/*SECTION 04 XS*/
.section-xs-04{
  padding: 60px 0px 40px 0px;
  background-color: $claro01;
}


.tx-section-xs-04_01{
  margin:0px 0px 40px 0px;
  font-family: $Lato-Black;
  color: $color01;
  font-size: $tx-size-05 - .2;
  text-align: center;
}
.tx-section-xs-04_02{
  margin:0px 0px 30px 0px;
  font-family: $Lato-Bold;
  color: $oscuro02;
  font-size: $tx-size-06;
  text-align: center;
}
.tx-section-xs-04_03{
  margin:0px 0px 20px 0px;
  font-family: $Lato-Regular;
  color: $oscuro02;
  font-size: $tx-size-06;
  text-align: center;
}